[2022-01-20 21:28] LRufenacht opened #1 "Complete Extensions Category"
Create demos for each control listed under the Extensions category.

**Basic Checklist:**

*   Control added to Demo.
*   Controllable Properties Added.
*   Event Data Handled and Displayed.
*   Variances in Appearance Displayed.
*   Entry added in DemoBrowser.json.
    *   Description properly entered.
    *   Added translations.
    *   Linked source code.
    *   Linked docs.
    *   Icon added

[2022-01-20 21:29] LRufenacht opened #2 "Cleanup Existing Descriptions & Translations"
**Required Translations**

*   English
*   German
*   French
*   Italian
*   Spanish

Please ensure that all current descriptions are filled in and any missing translations added. If you can't find a description for a specific topic, use the general Features description. If you need help with translations please ask and assign...

@paulcordova (Spanish)

@FrankITG (German)

@keevBush (French, a fe

[2022-01-20 21:38] LRufenacht opened #3 "Link Source Code for each Demo to correct page in GitHub"
Each demo needs to have it's source code linked in the DemoBrowser.json file.

**Categories (Mark as checked after all contained demos are complete):**

*   [x] Editors
*   [x] Miscellaneous
*   [x] Containers
*   [x] Tools and Menus
*   [x] Extenders
*   [x] Content
*   [x] Buttons
*   [x] Grids
*   [x] Notifications
*   [x] Extensions
*   [x] Icon Packs

[2022-02-24 16:06] #1 closed

[2022-02-28 15:44] LRufenacht opened #4 "Animation: Features"

[2022-02-28 16:20] AlaaTrAce opened #5 "jSequence: Features"

[2022-02-28 16:55] LRufenacht opened #6 "ErrorProvider: Alignment"

[2022-02-28 16:56] LRufenacht opened #7 "ErrorProvider: Features"

[2022-02-28 20:49] LRufenacht opened #8 "Update PropertyGrid: Features"
I think we should switch this demo to a PropertyGrid that allows you to edit a given class (i.e. Person).

When changing the values in the PropertyGrid update TextBoxes or an image of the person to represent the new values.

[2022-03-01 17:25] AlaaTrAce commented on #8
What do you think about this?
![msedge_1hw66N1aXl](https://user-images.githubusercontent.com/57464198/156217786-83bc36ec-1033-461b-9c5e-459ba81ce17c.png)

[2022-03-01 20:22] LRufenacht commented on #8
That works! Try to add several different data types so the users can play with a color picker, boolean toggle, text entry, etc.

[2022-03-02 15:28] AlaaTrAce opened #9 "JustGage: Features"

[2022-03-02 15:28] AlaaTrAce opened #10 "Bubbles: Features"

[2022-03-02 15:30] AlaaTrAce opened #11 "OfficeViewer: Features"

[2022-03-04 16:00] LRufenacht commented on #8
![image](https://user-images.githubusercontent.com/21205878/156796045-46238a22-e1f3-4f2d-adb6-a6b84261a61c.png)

- [ ]  Update Description: The <b>Wisej.Web.PropertyGrid</b> provides a user interface for browsing the properties of an object.
- [ ] Docs links doesn't work
- [ ] Source code link should go directly to the demo in GitHub
- [ ] Remove GroupBox around PropertyGrid
- [ ] Can you add desc

[2022-03-04 17:27] LRufenacht commented on #5
![image](https://user-images.githubusercontent.com/21205878/156811697-586408dd-9203-434f-b2df-fd44b09a3e5f.png)

- [ ] Create nicer navigation for the four examples. Maybe use a FlowLayoutPanel with a few different options or a NavigationBar without the header.
- [ ] Standardize button size
- [ ] Standardize textbox widths
- [ ] Try to center jSequence widget in container or make container smaller

[2022-03-04 17:32] LRufenacht commented on #9
![image](https://user-images.githubusercontent.com/21205878/156812752-4950d513-c0a8-4ea5-a67a-369ce72ddbc7.png)

- [ ] Add MinimumSize to demo
- [ ] Update description, look at https://toorshia.github.io/justgage/#about
- [ ] Docs link doesn't work

[2022-03-04 19:34] LRufenacht commented on #10
![image](https://user-images.githubusercontent.com/21205878/156829314-4716fcd6-51e2-4545-b0b3-4f275d274d0e.png)

- [ ] Fix description
- [ ] Use a TextBox and Button to show the Bubbles notification, it looks kind of weird on the DGV
- [ ] Fix Source Code link
- [ ] Add bubble click event
- [ ] Add demo minimum size

[2022-03-04 19:36] LRufenacht opened #12 "TableLayoutPanel: Features"

[2022-03-04 19:38] LRufenacht commented on #12
![image](https://user-images.githubusercontent.com/21205878/156830074-770db64e-c072-4917-a8c9-1307450be3fe.png)

This one looks great!

A few minor things
- [ ] Needs to resize nicely for smaller screens. Boxes get cut off. Maybe find a way to rearrange the boxes?
- [ ] Tooltip gets cut off on "sales manager" boxes
- [ ] "Opportunities"
- [ ] Fix source code link

[2022-03-04 19:42] LRufenacht commented on #11
![image](https://user-images.githubusercontent.com/21205878/156830556-66276aed-2d79-4b4d-9a29-8f48cebfbc24.png)

- [ ] Buttons too small. Icons touching borders. Maybe use the left-hand side instead.
- [ ] Source code link

[2022-03-05 13:54] AlaaTrAce commented on #12
![msedge_LduMC1BD4Z](https://user-images.githubusercontent.com/57464198/156886335-37e20366-d027-41f2-8d81-5bac9faca611.png)
Updated layout

- [ ] Find a better color scheme.

[2022-03-05 13:55] AlaaTrAce commented on #11
![msedge_wsQPZ5UQeq](https://user-images.githubusercontent.com/57464198/156886367-3299c670-7371-426d-a40f-a32c29822de1.png)

[2022-03-05 13:56] AlaaTrAce commented on #9
Can you please send me a video ? I wasn't able to "break" it

[2022-03-05 13:58] AlaaTrAce commented on #5
I think this looks better, waiting for your feedback so that I can do more cleaning
![msedge_tWE0FTlsFJ](https://user-images.githubusercontent.com/57464198/156886492-4f14064a-2a26-411a-b194-cc45f3fb923f.png)

[2022-03-05 14:00] AlaaTrAce commented on #8
What do you think of this one here?
![msedge_c2ss3CMBP8](https://user-images.githubusercontent.com/57464198/156886535-2aa2b3a6-5e88-4c55-b749-a5982d74cd04.png)

[2022-03-07 11:53] AlaaTrAce opened #13 "NumericUpDown: Labels"

[2022-03-07 11:54] AlaaTrAce opened #14 "Html2Canvas: Features"

[2022-03-07 13:42] AlaaTrAce commented on #14
![msedge_GgpjrNfeqT](https://user-images.githubusercontent.com/57464198/157045078-b2e511ea-e5d7-4833-ad7b-a6f03a744d57.png)
![msedge_ouplgqGeN3](https://user-images.githubusercontent.com/57464198/157045142-ac50224d-ba3a-456e-a1b9-5fe5a47c203a.png)

- [x] Can download the screenshot
- [x] Ability to capture every component in the demo
- [x] Separate preview dialog

Something is off though, look at

[2022-03-07 13:45] AlaaTrAce opened #15 "Translation: Features"

[2022-03-07 13:59] AlaaTrAce opened #16 "Speech: Features"

[2022-03-07 15:35] LRufenacht commented on #14
Screenshots look okay to me.
I would...
- [ ] Remove the preview window and download a JPEG of the captured content.
- [ ] Make all button text use Title Casing.
- [ ] Remove the Wisej logo

[2022-03-07 15:41] LRufenacht commented on #8
Bettter!
Cardholder is one word.
Add a period after all the descriptions.
You can move the Wisej logo to the top left-hand or right-hand corner.

[2022-03-07 16:39] LRufenacht commented on #5
Take a look at how I adjusted the Example navigation.

Collapsed:
![image](https://user-images.githubusercontent.com/21205878/157077494-68c88711-d2e5-420b-844d-4416688bec86.png)

Expanded:
![image](https://user-images.githubusercontent.com/21205878/157077454-70c22220-4f67-4cc3-a8bc-374c23853bda.png)

Can you adjust the colors to match the theme, adjust the example names, and adjust the layout so i

[2022-03-07 18:19] LRufenacht commented on #9
When first clicking the demo:
![image](https://user-images.githubusercontent.com/21205878/157094025-84d87c09-ead8-4ff6-984d-4266e28ce024.png)

Label shows 0. Not sure if this is a Wisej bug or something in the sample. Should be 50.

[2022-03-07 18:20] LRufenacht commented on #9
https://watch.screencastify.com/v/qDIanwsFPCTzVSqatqQQ

[2022-03-07 18:22] LRufenacht commented on #11
Better!

You can center-align those items or use the "Examples" bar like I showed in the other demo to allow the user to switch between them.

The Examples bar might look a little nicer but this is okay too.

[2022-03-07 18:23] LRufenacht commented on #11
Feel free to close this one when you feel it's done.

[2022-03-07 18:24] AlaaTrAce commented on #9
Okay this is weird, it works fine on my end

https://user-images.githubusercontent.com/57464198/157094731-627a79ec-1aff-4f2f-8203-658bfa0fffbf.mp4

[2022-03-07 18:26] AlaaTrAce commented on #14
Sample just got updated

[2022-03-07 18:28] AlaaTrAce commented on #5
I just pushed some updates for this demo.

[2022-03-07 22:14] AlaaTrAce opened #17 "Pannellum: Features"

[2022-03-07 22:37] #11 closed

[2022-03-07 22:41] AlaaTrAce opened #18 "RibbonBar: Features"

[2022-03-07 23:05] AlaaTrAce opened #19 "ChartJS: Features"

[2022-03-07 23:48] AlaaTrAce opened #20 "ChartJS: Scatter"

[2022-03-08 16:55] AlaaTrAce commented on #19
![msedge_0zG7gPGQbG](https://user-images.githubusercontent.com/57464198/157286652-0eac5a63-9c93-4d51-8c0f-21a59f9c1146.png)

- [x] Wired ChartClick event
- [x] Multiple Chart types

[2022-03-08 16:57] AlaaTrAce commented on #18
![msedge_0bT4b4PXVW](https://user-images.githubusercontent.com/57464198/157286983-6fe2d7c5-90c4-4ed4-bc0b-a6d259ae83f9.png)

[2022-03-08 16:59] LRufenacht commented on #9
Actually,

Can you try the sample with Chrome to reproduce the issue above? It looks like you're using Edge in the video above.

The other issue is... setting the Decimal places doesn't seem to work correctly.

[2022-03-08 16:59] AlaaTrAce commented on #16
![msedge_4xCkUuszC8](https://user-images.githubusercontent.com/57464198/157287332-80c809b9-5976-453d-aed5-8e32a5d0f15c.png)

- [x] Ca, play, and stop speech recognition
- [x] Using TTS from the text in the TextBox
- [x] Wired events

[2022-03-08 17:03] AlaaTrAce commented on #9
https://user-images.githubusercontent.com/57464198/157287845-6fba51c8-5d42-4653-8401-986ed600a11c.mp4

It's working fine, tested on Chromium (the most broken thing ever, even more broken than a chrome canary build) and a stable Chrome browser

I'll fix the NumericUpDown control to add decimals.

[2022-03-08 17:04] LRufenacht commented on #9
Thanks,

You can close when finished.

[2022-03-08 17:12] LRufenacht commented on #19
*    [ ]  I would take out three of the charts from this "Features" page. It looks a little too busy IMO. The Pie chart values are overlapping.
*    [ ]  Set a minimum Size for the demo.
*    [ ]  The AlertBoxes look weird being shown from the MiddleRight part of the screen. Try BottomRight and add a title so there isn't excessive blank space.

Looks good!

[2022-03-08 17:18] #9 closed

[2022-03-08 17:21] LRufenacht commented on #18
*    [ ]  Options -> Focusing TextBox only shows partial blue focus box.
*    [ ]  File button looks strange. "I" is capitalized. Should it have borders?
*    [ ]  Copy special... is cut off?
*    [ ]  Use Title casing for all text.
*    [ ]  Don't show "Wisej.Web.Ext.RibbonBar.RibbonBarItem" in the AlertBox. User doesn't need to see this. Just show the name and value if it's a radio button.
*   [

[2022-03-08 17:23] LRufenacht commented on #19
Polar, donut, pie

[2022-03-08 17:23] LRufenacht commented on #19
Or keep donut and see if that looks good.

[2022-03-08 17:27] AlaaTrAce commented on #19
![msedge_CgR6uAnlSf](https://user-images.githubusercontent.com/57464198/157292302-f6fb1914-8a61-4c00-89b7-2db13d9564b7.png)
What do you think?

[2022-03-08 17:27] LRufenacht commented on #17
*    [ ]  Need default image

[2022-03-08 17:30] LRufenacht commented on #16
*    [ ]  Add tooltips for the buttons or make the buttons show the image + text.
*   [ ] Center on page.
*    [ ]  I don't get the AlertBoxes?
*   [ ] Minimum Size

[2022-03-08 17:38] LRufenacht commented on #14
*   [ ] Remove the "Capture" text from being repeated everywhere. Use a nice header (like the Examples header) for the FLP.
*   [ ] Remove the "Company Name" image and button.
*   [ ] Html Panel
*   [ ] Remove Demo button.

[2022-03-09 14:54] AlaaTrAce commented on #13
![image](https://user-images.githubusercontent.com/57464198/157466542-c6b97d86-a615-4971-acdc-a9f09ee8d3a3.png)

I think this can be closed?

[2022-03-09 14:55] AlaaTrAce commented on #10
Totally forgot to update you on this one,
![msedge_Q3t3aJ6rlP](https://user-images.githubusercontent.com/57464198/157466887-a47fe706-1f71-4a4c-83c9-76fade6667fb.png)

[2022-03-09 14:57] LRufenacht commented on #13
Yep! Nice work.

On Wed, Mar 9, 2022 at 9:54 AM Alaa Trigui ***@***.***> wrote:

--
---
Levie Rufenacht

[2022-03-09 15:04] LRufenacht commented on #10
Increase the vertical space between the button and TextBox, decrease the height of the textbox, and center both controls vertically.

Then you can close it!

[2022-03-09 17:12] #13 closed

[2022-03-09 17:14] AlaaTrAce commented on #14
![msedge_jY6Z1A4DWi](https://user-images.githubusercontent.com/57464198/157494818-9ba39cfc-7673-48f8-9ec6-a6c4d14386e3.png)

Updates pushed

[2022-03-09 17:15] AlaaTrAce commented on #16
![image](https://user-images.githubusercontent.com/57464198/157494582-3f807ce5-7c30-4493-942f-7ccec0221bf8.png)

You get the AlertBoxes when you start or stop speaking.

[2022-03-09 17:15] AlaaTrAce commented on #17
This one is fixed

[2022-03-09 17:20] #10 closed

[2022-03-09 17:51] LRufenacht commented on #14
It shouldn't be called "Examples", call it "Screenshots" or something similar.

Maybe those options should have an accordion with a screenshot of the image and a "Refresh" button.

[2022-03-09 17:57] LRufenacht commented on #17
![](https://user-images.githubusercontent.com/21205878/157502237-08c01856-4490-4c34-9ff1-a113e0c076c8.png)

Simple should be selected by default.

[2022-03-09 17:58] LRufenacht commented on #17
Actually, I would remove the Examples bar and list each one as an additional demo. "Simple" should be the only one in "Features".

[2022-03-09 21:21] AlaaTrAce commented on #14
I'll give it a try and give you feedback

[2022-03-10 19:03] AlaaTrAce commented on #5
![image](https://user-images.githubusercontent.com/57464198/157736028-23309dde-23c9-404f-a0f9-bc53b0d76b0a.png)

There's some issues in the current version that's fixed locally, I'll push them later with the remaining fixes.

[2022-03-11 01:31] AlaaTrAce commented on #12
This should be marginally better IMHO
![msedge_n1LU93dR9N](https://user-images.githubusercontent.com/57464198/157784339-fdcb8320-8dd8-4e5a-99bf-db73f0f80c51.png)

The rounded corners are part of the Bootstrap-4 theme, so I'm a bit confused of what to do about it (although with a white background it's barely noticeable)
Here's a screenshot with a Blue theme for reference:
![msedge_HWjCzmYMls](https

[2022-03-11 01:36] AlaaTrAce commented on #18
![msedge_ITTFms6z7W](https://user-images.githubusercontent.com/57464198/157784901-2e7e6a26-c357-4e66-a632-dbc587b5517b.png)

Fixed above issues except for the FocusBox one, it's an issue with the Bootstrap-4 theme, I couldn't figure out how to fix it :/
Can you please take care of it for me?

[2022-03-11 01:37] AlaaTrAce commented on #17
![msedge_8FWb7aHMH7](https://user-images.githubusercontent.com/57464198/157785150-f2de5499-e5fd-4944-bee1-91c4a7e78b42.png)

This looks to be completed, let me know if I can close it!

[2022-03-11 15:16] LRufenacht commented on #18
Fixed and checked in. You could set the "shadowColor" style of the textbox in the RibbonBar mixin to transparent.

Can you please also move the RibbonBar mixin to the RibbonBar project and make sure it's an embedded resource?

[2022-03-11 15:17] LRufenacht commented on #17
Looks good!

[2022-03-11 15:59] LRufenacht commented on #5
I tidied up this one. I didn't like the Configuration panel so I removed that and listed the other examples under "jSequence". I used the layout you had above for the controls. Also add overflow: visible to the jSequence widget so the values won't get cut off.

To finish this one up, can you

*   [ ] Set MinimumSize for all demos
*   [ ] Link source code
*   [ ] Add descriptions, if applicable

Th

[2022-03-11 16:19] LRufenacht commented on #12
Just needed to add border-radius: 0px for those panels. Fixed and checked in. Looks good, you can close it.

[2022-03-11 19:41] LRufenacht commented on #20
Checked in.. Pretty simple for now. Add / remove random datasets.

![](https://user-images.githubusercontent.com/21205878/157946800-a48f02cb-515d-454d-969f-915fa3b29419.png)

[2022-03-11 22:09] #12 closed

[2022-03-11 22:10] #17 closed

[2022-03-14 13:16] AlaaTrAce opened #21 "ChartJS: Bubble"

[2022-03-14 13:16] AlaaTrAce opened #22 "ChartJS: Doughnut / Pie"

[2022-03-14 13:16] AlaaTrAce opened #23 "ChartJS: Polar Area"

[2022-03-14 13:16] AlaaTrAce opened #24 "ChartJS: Radar"

[2022-03-14 13:16] AlaaTrAce opened #25 "ChartJS: Bar"

[2022-03-14 13:16] AlaaTrAce opened #26 "ChartJS: Line"

[2022-03-14 14:52] AlaaTrAce opened #27 "Embedded Tools: Features"

[2022-03-14 16:10] LRufenacht commented on #22
![](https://user-images.githubusercontent.com/21205878/158213661-438a69c6-1fe6-49ee-b6e5-382d50e77e96.png)

*   [ ] tooltip

[2022-03-14 16:11] LRufenacht commented on #21
![](https://user-images.githubusercontent.com/21205878/158213883-a6c01604-fe2a-4a88-a2d3-e5db4f109630.png)

*   [ ] tooltip

[2022-03-14 16:12] LRufenacht commented on #25
Great! this can be closed.

[2022-03-14 16:12] LRufenacht commented on #25
Great! this can be closed.

[2022-03-14 16:12] LRufenacht commented on #26
Great! this can be closed.

[2022-03-14 16:14] #26 closed

[2022-03-14 16:14] #25 closed

[2022-03-14 16:14] LRufenacht commented on #19
![](https://user-images.githubusercontent.com/21205878/158214539-1dba6883-c9fe-4e26-878d-a9ff10c7b59a.png)

*   [ ] MinimumSize isn't right

[2022-03-14 17:24] LRufenacht commented on #27
*   [ ] "Tool Position Right" should be Left
*   [ ] Add different types of (small) controls to demonstrate the tools.

[2022-03-22 17:03] #19 closed

[2022-03-22 17:03] AlaaTrAce commented on #18
This one is already done, can it be closed?

[2022-03-22 17:13] AlaaTrAce commented on #14
It didn't look that great, so I left it as is for now.

[2022-03-22 17:15] AlaaTrAce commented on #5
This one is done too, I didn't find suitable descriptions for the other demos so I just left the default one.

[2022-03-22 17:19] AlaaTrAce commented on #24
![msedge_cCYdItd2bP](https://user-images.githubusercontent.com/57464198/159538519-fefb19c8-7482-4578-bc7e-d80911cdbac4.png)

[2022-03-22 17:20] AlaaTrAce commented on #23
![msedge_tiuUYerA0v](https://user-images.githubusercontent.com/57464198/159538710-23f67161-1b76-49d8-ad39-b560a0a72d36.png)

[2022-03-22 17:21] AlaaTrAce commented on #22
![msedge_gYTdQpLQXX](https://user-images.githubusercontent.com/57464198/159538864-e604e42e-f21a-40ec-90f3-a5b83176c1df.png)
![msedge_z6p3ttdIfM](https://user-images.githubusercontent.com/57464198/159538876-52605802-3b57-4d48-a104-57a85278ae1c.png)

[2022-03-22 17:23] AlaaTrAce commented on #21
I think it would be best if you tackle this one, I couldn't figure out how to make it look like their demo: https://www.chartjs.org/docs/latest/charts/bubble.html

[2022-03-22 17:48] LRufenacht commented on #22
Thx, can close

[2022-03-22 17:55] LRufenacht commented on #23
Set the demo background to white and close please.

[2022-03-22 17:55] LRufenacht commented on #24
Better... Set the demo background to white and close please.

[2022-03-22 17:56] LRufenacht commented on #18
yes

[2022-03-22 17:57] LRufenacht commented on #14
Looks good, can close

[2022-03-22 17:57] LRufenacht commented on #14
Add minimumSize for demo

[2022-03-22 17:58] LRufenacht commented on #20
Can close

[2022-03-22 17:59] LRufenacht commented on #5
Can close

[2022-03-22 18:00] LRufenacht commented on #8
Random alertbox when opening the demo. Should be removed

[2022-03-22 18:00] LRufenacht commented on #8
Then you can close it

[2022-03-22 18:02] LRufenacht opened #28 "ComboBox Simple Binding"
Need source code link
Need minimumSize for demo

[2022-03-22 18:04] LRufenacht opened #29 "Containers Panel"
MinimumSize
Source Code Link

[2022-03-22 18:04] LRufenacht opened #30 "Containers GroupBox"
MinimumSize
Source code

[2022-03-22 18:16] #5 closed

[2022-03-22 18:16] #20 closed

[2022-03-22 18:17] #22 closed

[2022-03-22 18:17] #18 closed

[2022-03-23 15:29] AlaaTrAce commented on #8
Done.

[2022-03-23 15:29] #8 closed

[2022-03-23 15:30] AlaaTrAce commented on #30
fixed

[2022-03-23 15:30] AlaaTrAce commented on #28
Done

[2022-03-23 15:30] #24 closed

[2022-03-23 15:31] AlaaTrAce commented on #3
Just pushed changes related to this one here, right now all available demos are correctly linked to their respective source code page.

[2022-03-23 15:31] #14 closed

[2022-03-23 15:35] AlaaTrAce commented on #27
Added a CheckedListBox and a ComboBox with an action that can be triggered with the tools, let me know if I can close this.

[2022-03-23 15:37] AlaaTrAce opened #31 "Webix Premium Extension demos."

[2022-03-23 22:20] AlaaTrAce opened #32 "ToolTip: Features"

[2022-03-23 22:40] AlaaTrAce commented on #32
![Web capture_23-3-2022_233956_localhost](https://user-images.githubusercontent.com/57464198/159807898-694ebdb2-0ec0-4cbc-afc4-44b33fafb0b9.jpeg)

- [x] Source code link
- [x] Description (en)
- [x] Minimum Size

[2022-03-29 16:55] AlaaTrAce commented on #32
I'm re-imagining this one.

[2022-03-29 16:56] AlaaTrAce commented on #30
Closing this one here, please re-open if there's an problem.

[2022-03-29 16:56] AlaaTrAce commented on #28
Closing this one here, please re-open if there's an problem.

[2022-03-29 16:56] #28 closed

[2022-03-29 16:57] AlaaTrAce commented on #29
Closing this one here, please re-open if there's an problem.

[2022-03-29 16:57] #29 closed

[2022-04-05 20:17] #4 closed

[2022-04-05 20:17] #15 closed

[2022-04-05 20:17] LRufenacht opened #33 "Add "Shape" Demo"

[2022-04-05 20:18] #3 closed

[2022-04-06 17:06] LRufenacht opened #34 "Add dxFilterBuilder configurable properties."

[2022-04-06 17:07] LRufenacht opened #35 "Add dxScheduler configurable properties."

[2022-04-06 17:07] LRufenacht opened #36 "Add dxSparkline configurable properties."

[2022-04-06 17:08] LRufenacht opened #37 "Add dxSwitch configurable properties."

[2022-04-06 17:12] LRufenacht opened #38 "Add igColorPicker configurable properties."
i.e.
Property:
Provide a list of allowed colors (Colors property)

Methods:
SelectColor()
SelectedColor()

[2022-04-06 17:14] LRufenacht opened #39 "Add more configurable properties to igRating."

[2022-04-08 15:36] FrankITG opened #40 "Changing language does not work"
When I run it here, it preselects EN even though the texts display in german.
Changing the language from the ComboBox does not seem to have any effect, even with refreshing the page.

[2022-04-08 15:38] FrankITG commented on #40
Also only some texts seem to be translated to german.
Navigation commands like prev demo / next demo are not translated.
Please let me know if/when I should translate missing texts.

[2022-04-08 15:40] FrankITG opened #41 "Labels in TreeView sample are cut off"
![image](https://user-images.githubusercontent.com/37643082/162475983-cfb3aaf1-b45b-4fe0-82a6-8d25bef2337e.png)
See the 2 Multi- labels.

[2022-04-08 15:41] AlaaTrAce commented on #40
Hi Frank,

You can start translating right away if you feel like it.
Everything's located in the "DemoBrowser.json" file.

[2022-04-08 15:52] AlaaTrAce commented on #41
It works perfectly fine for me!
![image](https://user-images.githubusercontent.com/57464198/162477758-b1d11e22-ce6d-4d3d-bf07-5ac85f16d290.png)

What happens when you switch to another Theme? Does it look the same or is it fixed?

[2022-04-08 16:03] FrankITG commented on #41
It´s always cut off here. Switching themes does not help. Tested with .NET 4.8 and .NET 6.0.
In Chrome, Firefox & Edge.
Resolution 1920x1080 100%

[2022-04-08 16:37] AlaaTrAce commented on #41
Could you try installing these fonts here?: [Open_Sans.zip](https://github.com/iceteagroup/Wisej-DemoBrowser/files/8453840/Open_Sans.zip)
It's a bit far fetched but I remember that installing the font actually fixed some issues.

[2022-04-08 17:10] FrankITG commented on #41
Good idea, this fixes it.
We probably need to keep this in mind, once we share the source code for people to try the demobrowser on their own.

You can close this issue.

[2022-04-08 19:10] #41 closed

[2022-04-08 19:25] LRufenacht commented on #41
Added a prompt on startup if the font isn't installed:
![image](https://user-images.githubusercontent.com/21205878/162510732-030f27b4-fefd-4a47-8f1f-66fedef70227.png)

[2022-04-08 19:29] LRufenacht commented on #40
Maybe we should take out the locale dropdown until all the translations are complete? It's pretty low-priority right now.

What do you think @FrankITG @AlaaTrAce

[2022-04-08 19:31] FrankITG commented on #40
Yes, the way it is now it looks more like a bug than a missing feature.

[2022-04-08 19:34] #40 closed

[2022-04-08 19:34] LRufenacht commented on #40
Sounds good, hid it for now.

[2022-04-19 14:51] LRufenacht commented on #33
@AlaaTrAce is there an update for this?

[2022-04-19 14:52] LRufenacht commented on #32
Customizable Colors doesn't work. If it can't be fixed can you remove it?

[2022-04-19 14:52] #31 closed

[2022-04-19 14:54] AlaaTrAce commented on #33
Yeah, I pushed an update last week.

[2022-04-19 15:05] LRufenacht commented on #33
Looks really good, nice!

![image](https://user-images.githubusercontent.com/21205878/164034215-a0bafe3a-8e60-45d6-baad-6d6454505bea.png)

- [ ] I would set the default shape background white and restore the demo background color.
- [ ] Same with "Appearances"
- [ ] Replace groupboxes with normal panels and use a label for the borderstyle text
- [ ] Align controls within each panel so they're cent

[2022-04-19 15:24] lucapivato commented on #32
Cannot work, there should be 1 ToolTip Extender on a container. Tooltips are shared. The ForeColor on the extender is set for the shared tooltip widget.

[2022-04-19 15:25] lucapivato commented on #32
It can work if there is 1 extender and the properties are changed on the single extender.

[2022-04-22 14:03] LRufenacht commented on #32
Update the issue when this is done, we're going live with it next week.

[2022-04-22 14:03] LRufenacht commented on #33
Update the issue when this is done, we're going live with it next week.

[2022-04-22 21:34] LRufenacht opened #42 "DemoBrowser Fixes"
Hi Alaa,

Can you please fix these and close when finished?

- [x] Camera Minimum Size
- [x] ChartJS Charts lost on window resize (log if needed) ==> Couldn't reproduce.
- [x] jQueryKnob minimumsize
- [x] NavigationBar MinimumSize
- [x] OfficeViewer not showing up
- [x] ProgressCircle default Line cap selected in ComboBox.
- [x] ProgressCircle MinimumSize
- [x] ToolTip Customizable Colors doesn't

[2022-04-22 21:37] AlaaTrAce commented on #42
Yes sir,

I'll get everything fixed tonight.

[2022-04-24 02:18] AlaaTrAce commented on #33
![chrome_BMpCGtJ7eT](https://user-images.githubusercontent.com/57464198/164953193-cac93682-c4b2-4424-8c35-49bdf94d33a4.png)
![chrome_enVMMapXtf](https://user-images.githubusercontent.com/57464198/164953194-e4fc466f-dc02-4d3d-9379-67c7de29d2f9.png)

Sample updated

[2022-04-24 02:19] AlaaTrAce commented on #32
Completely revamped the demo, now it's cleaner.

![chrome_3RUEmW7ZEC](https://user-images.githubusercontent.com/57464198/164953212-e8b246b0-2cb3-40a9-86d2-03927003bb81.png)

[2022-04-24 12:21] AlaaTrAce commented on #42
Updates were pushed, closing this for now.

[2022-04-24 12:21] #42 closed

[2022-04-25 11:50] #33 closed

[2022-04-25 20:48] AlaaTrAce commented on #38
@keevBush please update this issue and close if you're done.

[2022-04-25 20:49] AlaaTrAce commented on #37
@keevBush please update the issue and close if you're done.

[2022-04-25 20:50] AlaaTrAce commented on #32
Needs a few adjustments to the layout.

[2022-04-25 20:50] #27 closed

[2022-04-25 21:02] #39 closed

[2022-04-25 21:04] #37 closed

[2022-04-25 21:05] #38 closed

[2022-04-25 21:05] #34 closed

[2022-04-25 21:05] #35 closed

[2022-04-25 23:52] FrankITG opened #43 "LinkLabel NeverUnderline underlines when hovered"
![image](https://user-images.githubusercontent.com/37643082/165192660-cd6a8201-07d8-4744-a1ca-2cbeebbd6bc3.png)

[2022-04-25 23:54] FrankITG opened #44 "Google Maps shows an error"
![image](https://user-images.githubusercontent.com/37643082/165192857-be11312f-ae9d-4b50-8d18-833e656c88c4.png)

[2022-04-25 23:57] FrankITG opened #45 "OfficeViewer does not show ppt or xls"
The buttons don´t seem to have any effect.

[2022-04-25 23:58] FrankITG opened #46 "FontAwsome Icon Pack should be FontAwesome Icon Pack"
wrong name

[2022-04-26 03:00] paulcordova opened #47 "TextBox multiline – tab key won't advance to next control when arrive in Multiline"
![image](https://user-images.githubusercontent.com/7750628/165211186-cd24a7da-ca05-452a-92f3-faf0efccdbf6.png)

[2022-04-26 03:02] paulcordova opened #48 "Shape features – Radius property apparently don't affect change on shape"
![image](https://user-images.githubusercontent.com/7750628/165211502-e8f402d9-537e-4d43-b4c4-229d0dd3942a.png)

[2022-04-26 03:05] paulcordova opened #49 "Tab key – moving with tab through the controls and press “next demo” jump to video demo screen"
this occurs in various samples

Video with test
https://drive.google.com/file/d/1qCXbAgQpmIpgr4tJRBv91LaP387C3_7l/view?usp=sharing

[2022-04-26 03:08] paulcordova opened #50 "FlexLayoutPanel – button dont restablish his size when change from layoutStyle default to horizontal and reverse"
Step 1
![image](https://user-images.githubusercontent.com/7750628/165212189-7cb155d5-6311-45d0-a72e-34abc2b97027.png)

Step 2
![image](https://user-images.githubusercontent.com/7750628/165212199-24639ad7-70ac-4cdf-83c9-161529be3a29.png)

Step 3
![image](https://user-images.githubusercontent.com/7750628/165212228-95e6830a-7293-4d7d-988d-e54e21bbde38.png)

[2022-04-26 03:10] paulcordova opened #51 "PdfViewer – Error when load the pdf file – when move into it from prev demo or from next"
this not occurs always
most times is when advance from previous test

![image](https://user-images.githubusercontent.com/7750628/165212379-ba92138c-d0fe-4053-868d-f679254a7daf.png)

[2022-04-26 03:11] paulcordova opened #52 "MenuBar features – Overflowicons must show icons?"
![image](https://user-images.githubusercontent.com/7750628/165212508-b4fdd240-d579-4471-b0f2-7a8081b1af33.png)

[2022-04-26 03:13] paulcordova opened #53 "MenuBar features – Menu Item types Checked dont show change ?"
when pressed button checked dont show visual change

![image](https://user-images.githubusercontent.com/7750628/165212691-a588b6b3-f964-4c2f-bf24-f5b11a8887fd.png)

[2022-04-26 03:14] paulcordova opened #54 "Embedded Tools Features – check logic is inverse order"
![image](https://user-images.githubusercontent.com/7750628/165212816-8c14d00a-11a4-4f09-a26b-8836fdae9505.png)

[2022-04-26 03:15] paulcordova opened #55 "Help Tip – color don't open color dialog"
![image](https://user-images.githubusercontent.com/7750628/165212986-7f261f74-b219-49ef-a517-1dda3661c947.png)

[2022-04-26 03:15] paulcordova opened #56 "Rotation – Perspective and Z-Axis Scale don’t make changes on shape"
![image](https://user-images.githubusercontent.com/7750628/165213070-600dad0c-2651-48cc-8f61-2ffe5be47a0d.png)

[2022-04-26 03:18] paulcordova opened #57 "Split button – any button can’t select value from listed options"
On any split button, the selected option isn't showed after selected

![image](https://user-images.githubusercontent.com/7750628/165213280-483af462-9d49-4ed4-a771-1bbf337aa10d.png)

[2022-04-26 03:19] paulcordova opened #58 "Extensions – OfficeViewer, Excel and PowerPoint buttons load Word file"
![image](https://user-images.githubusercontent.com/7750628/165213503-e25e4090-c282-430d-84b8-67aba0b9b4a8.png)

[2022-04-26 04:16] AlaaTrAce commented on #45
It looks like something is blocking the widget from updating the file source or stream, tried various things and even recreating the widget failed.
I guess I need some help with this one

[2022-04-26 04:16] AlaaTrAce commented on #58
Duplicate of https://github.com/iceteagroup/Wisej-DemoBrowser/issues/45

[2022-04-26 04:16] #58 closed

[2022-04-26 04:18] AlaaTrAce commented on #48
It works fine for me, try changing it to 100 as an example.
A 5px border radius is barely visible.

[2022-04-26 04:25] AlaaTrAce commented on #51
This looks like a very interesting bug.
Thanks Paul!

[2022-04-26 04:25] AlaaTrAce commented on #49
This looks like a very interesting bug.
Thanks Paul!

[2022-04-26 04:37] AlaaTrAce commented on #52
No, It's supposed to display that "Burger Menu icon" to the right of the control.

[2022-04-26 04:40] AlaaTrAce commented on #56
Try bigger values, I just tried and it seems to be working fine!

[2022-04-26 04:43] AlaaTrAce commented on #47
I think this is normal, it's a Multiline textbox and thus it handles the Tab Key differently.

[2022-04-26 04:43] #32 closed

[2022-04-26 04:51] AlaaTrAce commented on #44
It looks like an error related to google cloud services?
That's what I understood from a console error.

[2022-04-26 13:37] lucapivato commented on #44
It's normal. Related to the api key.

[2022-04-26 13:39] lucapivato commented on #52
It shows icons if the items have icons. Please add icons to all the menu items.

[2022-04-26 13:40] lucapivato commented on #57
That's the correct behavior. Changing the button text is up to the application. You can modify the demo to do that.

[2022-04-26 13:40] AlaaTrAce opened #59 "Add Icons to all MenuBar items"

[2022-04-26 14:14] AlaaTrAce commented on #59
Updated, left only the "Default" MenuBar without icons since it makes more sense.

[2022-04-26 14:42] AlaaTrAce commented on #57
Checked in.

[2022-04-26 16:24] paulcordova opened #60 "DevExtreme – dxFileManager link docs must be fixed"
I think this is the complete link

https://js.devexpress.com/Documentation/Guide/UI_Components/FileManager/Getting_Started_with_File_Manager/

![image](https://user-images.githubusercontent.com/7750628/165347327-b6239c64-9a03-4792-967c-f0b153438897.png)

[2022-04-26 16:25] paulcordova opened #61 "DevExtreme - don’t has properties to adjust"
![image](https://user-images.githubusercontent.com/7750628/165347598-21aaddcf-6310-4f93-8c3c-8bb792a429c9.png)

[2022-04-26 16:26] paulcordova opened #62 "DevExtreme - dxHtmlEditor – update without changing params delete control toolbar"
![image](https://user-images.githubusercontent.com/7750628/165347850-8880ae6e-e0d6-44e6-94d3-82669f3cd0d7.png)

[2022-04-26 16:27] paulcordova opened #63 "DevExtreme – dxList param SearchMode don't make visual changes on control"
![image](https://user-images.githubusercontent.com/7750628/165348031-ac0a66f8-2e0d-4324-b422-f39911f34ddc.png)

[2022-04-26 16:29] paulcordova opened #64 "DevExtreme – dxRangeSlider : StartName/EndName properties must show visual changes on control ?"
After typing values on both properties and aply changes, the control don's show changes visualy

![image](https://user-images.githubusercontent.com/7750628/165348373-ba19167f-c44b-4437-b7d3-ecccda8df221.png)

[2022-04-26 16:30] paulcordova opened #65 "DevExtreme – dxScheduler dont has properties to adjust"
![image](https://user-images.githubusercontent.com/7750628/165348530-a9a6e762-167e-45b4-9bed-c9d84e779d33.png)

[2022-04-26 16:31] paulcordova opened #66 "DevExtreme – dxSparline dont has properties to adjust"
![image](https://user-images.githubusercontent.com/7750628/165348673-1bdd3516-c7c1-45f2-854e-6bc502637fbb.png)

[2022-04-26 16:32] paulcordova opened #67 "DevExtreme – dxSwitch dont has properties to adjust"
![image](https://user-images.githubusercontent.com/7750628/165348862-47d21795-d154-4de2-9199-a4578519c888.png)

[2022-04-26 18:40] keevBush commented on #60
Fixed

[2022-04-26 19:32] keevBush commented on #65
Already done but not deployed

[2022-04-26 19:40] keevBush commented on #64
Removed

[2022-04-26 20:01] keevBush commented on #62
Toolbar item ComboBox is empty

[2022-04-26 20:46] paulcordova opened #68 "KendoUI components -no example shows the corresponding control"
All the list of samples demos for kendo, don't display the related control

for example. kendoAutocomplete
![image](https://user-images.githubusercontent.com/7750628/165388782-563955dd-1320-4431-87c7-22a0beb2f3bc.png)

kendoDropdownList is the only that had a control displayed but dont correspond

this is diaplayed
![image](https://user-images.githubusercontent.com/7750628/165388909-7179a989-4846-

[2022-04-26 22:53] paulcordova opened #69 "Syncfusion Ej1- setting properties don't take effect."
Syncfusion Ej1 Majority of samples, setting properties don't take effect.

The only samples that work its properties are
ejListView
ejMediaPlayer
ejPager
ejSignature

examples
![image](https://user-images.githubusercontent.com/7750628/165405718-53f916ef-a1cc-49a2-a15f-f138e1d23a8c.png)

![image](https://user-images.githubusercontent.com/7750628/165405726-12942ea0-fb0c-49a8-b319-211eb9283067.png)

[2022-04-26 22:55] paulcordova opened #70 "ejPdfViewer -error in dll pdfium.dll"
![image](https://user-images.githubusercontent.com/7750628/165405909-bd7fccae-4bf1-4438-b212-d58f4d287a32.png)

[2022-04-26 22:56] paulcordova opened #71 "ejPivotClient – stay loading control"
remains loading all time

![image](https://user-images.githubusercontent.com/7750628/165406048-f721ea46-5161-4899-ba9a-b281a3605251.png)

[2022-04-26 22:57] paulcordova opened #72 "ejPivotTreeMap – don’t load control"
![image](https://user-images.githubusercontent.com/7750628/165406153-544f5082-6907-4139-a768-7bea97dc2392.png)

[2022-04-26 22:58] paulcordova opened #73 "ejDigitalGauge – bad DOCS link"
right link: https://help.syncfusion.com/js/digitalgauge/overview

![image](https://user-images.githubusercontent.com/7750628/165406294-10f89c8f-e311-459e-9d88-e207265ce493.png)

[2022-04-26 22:59] paulcordova opened #74 "ejPivotTreeMap – dont show control and property raise an error"
![image](https://user-images.githubusercontent.com/7750628/165406358-2b8ec832-a9ba-4b03-97b7-9f78ad4070ba.png)

[2022-04-26 23:00] paulcordova opened #75 "ejRecurrenceEditor – max/min Data apparently aren't applied"
![image](https://user-images.githubusercontent.com/7750628/165406439-1a7ef274-f313-4f47-b09d-517e6a143f09.png)

[2022-04-27 13:17] lucapivato opened #76 "Wrong mixin"
The mixin was changing the default font overriding all the themes. Fixed.

[2022-04-27 15:00] #52 closed

[2022-04-27 15:01] #59 closed

[2022-04-27 18:32] #60 closed

[2022-04-27 18:35] #64 closed

[2022-04-27 18:35] #65 closed

[2022-04-28 12:45] keevBush opened #77 "Designer doesn't load ui of Premium extension"
- **Wisej version** : 3.0.7.5
- **Premium extension** : EJ2 Syncfusion 2
- **Resume**: Designer doesn't load current widget and set this error message : Unknow type : wisej.web.ext.Syncfusion2Widget
- **Video**: https://drive.google.com/file/d/1ecCLf964UDd4bIXZQaxrHfLOsKMFtoGG/view?usp=sharing

[2022-04-28 13:10] AlaaTrAce commented on #77
![image](https://user-images.githubusercontent.com/57464198/165759261-6729579a-b755-44c8-8ef3-fd6ecbceabd1.png)

Cannot reproduce, sometimes JS widgets fail to initialize properly but it's really rare. if you close that designer and re-open it it should be fine.

[2022-04-28 14:28] #77 closed

[2022-04-30 10:00] FrankITG opened #78 "FlowLayoutPanel sample not very intuitive"
https://demo.wisej.com/Demos/#Containers/FlowLayoutPanel

While it is technically correct, I think the FlowLayoutPanel is not very intuitive.
The difference between LeftToRight and TopToBottom is hard to notice.
Maybe rather use some shapes or colors to better show the difference?

[2022-04-30 10:04] FrankITG opened #79 "Improve FlexLayoutPanel ?"
The current FlexLayoutPanel may need a bit of improvement.
Now the benefits are not really obvious.
Some of the settings don´t make much sense.

For example LayoutStyle Vertical and VerticalAlignment Bottom.
Or LayoutStyle Horizontal and HorizontalAlignment Right.

Maybe we can come up with a better sample?

[2022-04-30 10:17] FrankITG commented on #46
Hi Alaa, is this already deployed? I sill see FontAwsome here
https://demo.wisej.com/Demos/#Icon%20Packs/FontAwsome

[2022-05-02 11:18] AlaaTrAce commented on #46
Oops, my bad I guess I forgot to deploy the json file.
I'll do it later since Luca has to whitelist my IP again :/ .

[2022-05-02 14:31] LRufenacht commented on #2
Closing this for now... we'll come back to it later.

[2022-05-02 14:31] #2 closed

[2022-05-02 16:15] LRufenacht commented on #21
Fixed, checked in GitHub.

[2022-05-02 16:15] #21 closed

[2022-05-02 16:36] LRufenacht commented on #44
Added a low-budget key so the error should be gone.

[2022-05-02 16:36] #44 closed

[2022-05-02 17:54] LRufenacht commented on #45
Fixed and checked in.

The issue was that when setting a new FileStream to the Viewer it would use the same URL as before, preventing the IFramePanel from recognizing the difference and updating the client. The solution is to add a version argument (it was there in 2.2 but looks like it was removed in 2.5 / 3.0).

[2022-05-02 17:55] #45 closed

[2022-05-02 17:56] #43 closed

[2022-05-02 17:57] #46 closed

[2022-05-02 18:09] LRufenacht commented on #51
Seems to work for me.
@keevBush @FrankITG can you reproduce this?

[2022-05-02 18:10] #76 closed

[2022-05-02 18:11] #54 closed

[2022-05-02 18:49] LRufenacht commented on #53
Updated sample. @paulcordova can you please take a look now?

[2022-05-02 18:50] #53 closed

[2022-05-02 18:52] LRufenacht commented on #55
@AlaaTrAce Please change the textbox to a button and add a ColorPicker icon.

[2022-05-02 19:33] FrankITG commented on #51
Same problem here as Paul. Fails on Chrome but works on Edge:

![image](https://user-images.githubusercontent.com/37643082/166313170-daa1d6a2-e3c8-4afb-a7a1-f0cd6fc1afba.png)

[2022-05-02 19:35] FrankITG commented on #51
PS: Viewer Types Google & Mozilla both work ok on Chrome, but Auto fails on Chrome.

[2022-05-02 19:54] lucapivato commented on #51
NET 6 or 4.8?--

Ice Tea Group
http://wisej.com
http://iceteagroup.com
+1-202-449-3778 x701

[2022-05-02 20:03] #6 closed

[2022-05-02 20:09] #56 closed

[2022-05-02 20:26] FrankITG commented on #51
Tested on https://demo.wisej.com/DemoBrowser
Running locally it works okay on both .NET 4.8 and .NET 6

[2022-05-02 20:33] LRufenacht commented on #78
What do you think of this? https://watch.screencastify.com/v/yBkwIdklQIYABaqadyy5

[2022-05-02 20:36] FrankITG commented on #78
Much cleaner! Thx Levie.

[2022-05-02 20:40] #78 closed

[2022-05-02 20:46] LRufenacht commented on #61
@keevBush please add these properties and update this issue when complete.

[2022-05-02 20:47] LRufenacht commented on #75
@keevBush please add these properties and update this issue when complete.

[2022-05-02 20:51] LRufenacht commented on #74
In the Syncfusion docs it's listed as getJSONRecords (https://help.syncfusion.com/api/js/ejpivottreemap#methods:getjsonrecords).
In the actual implementation it's getJsonRecords().

Fixed and checked in SVN.

[2022-05-02 20:51] #74 closed

[2022-05-02 20:53] LRufenacht commented on #62
@keevBush can you please set it so the default "update" does not change what's seen on the screen? Please update this thread when complete.

[2022-05-02 20:54] LRufenacht commented on #73
@keevBush please update this issue when complete.

[2022-05-02 20:57] LRufenacht commented on #70
Cannot reproduce @paulcordova @keevBush @FrankITG can you please get me the steps to reproduce?

[2022-05-02 20:58] LRufenacht commented on #69
@keevBush please update this issue when complete.

[2022-05-02 20:59] LRufenacht commented on #68
@paulcordova are you using demo.wisej.com/Kendo or a local version?
Can you verify the scripts are loaded from CDN in the browser console?

[2022-05-02 20:59] LRufenacht commented on #67
@keevBush please update this issue when complete.

[2022-05-02 21:00] LRufenacht commented on #66
@keevBush please update this issue when complete.

[2022-05-02 21:02] FrankITG commented on #70
Cannot reproduce either. Tested in Edge, Chrome and Firefox. All work ok here.

[2022-05-02 21:11] LRufenacht commented on #49
Fixed and checked in.
The "Search Components" textbox was handling the tab key event and treating it like a search which cleared the treeview selection.

[2022-05-02 21:11] #49 closed

[2022-05-02 21:13] LRufenacht commented on #63
@keevBush please update this issue when complete.

[2022-05-02 21:28] LRufenacht commented on #72
@paulcordova running locally or on demo.wisej.com/demos?
Please check that the cdn scripts are being loaded correctly in the browser.

[2022-05-02 22:26] lucapivato commented on #51
Works for me every time.

[2022-05-02 22:49] LRufenacht commented on #71
Fixed and checked in.

[2022-05-02 22:49] #71 closed

[2022-05-02 22:50] LRufenacht commented on #47
yes, it's correct.

[2022-05-02 22:50] #47 closed

[2022-05-02 22:53] #7 closed

[2022-05-02 23:05] LRufenacht commented on #79
Any ideas anyone? @FrankITG @paulcordova @AlaaTrAce @keevBush
Will take a look at this one tomorrow.

[2022-05-03 13:38] paulcordova commented on #51
Now works for me :-)

![image](https://user-images.githubusercontent.com/7750628/166463301-49b49738-5584-43f0-a191-649e0867cf83.png)

[2022-05-03 13:44] paulcordova opened #80 "SyncFusion ext2 - Cant load samples - runned on browser"
This happend  when try to run syncfusion2 demos
![Wisej-DemoBrowser-SyncFusion2-Error](https://user-images.githubusercontent.com/7750628/166464396-71a7a529-9d89-43c2-8caa-4385c34409a6.gif)

[2022-05-03 13:52] paulcordova commented on #68
@LRufenacht I'm using demo in browser
Here sample of what I get

![Wisej-DemoBrowser-Kendo-Error](https://user-images.githubusercontent.com/7750628/166465935-51429e53-e102-487b-a751-135888294706.gif)

[2022-05-03 13:55] paulcordova commented on #72
@LRufenacht  From on demo.wisej.com/demos?
Today I cant load Syncfusion 2 samples as comment in
https://github.com/iceteagroup/Wisej-DemoBrowser/issues/80

[2022-05-03 14:08] LRufenacht commented on #80
Should be fixed.

[2022-05-03 14:08] #80 closed

[2022-05-03 14:53] LRufenacht commented on #51
@FrankITG, can you still reproduce? Any chance for a video?

[2022-05-03 14:56] LRufenacht commented on #68
Can you expand the cultures folder?
Please check the Network or Console tab to see if you get errors for missing resources.

[2022-05-03 15:02] FrankITG commented on #51
It works fine here as well now. Guess you can close this one, thanks.

[2022-05-03 15:25] #57 closed

[2022-05-03 15:27] LRufenacht commented on #70
@paulcordova do you have a video of this?

[2022-05-03 15:35] LRufenacht commented on #72
@paulcordova it should be working now. please reopen if it doesn't.

[2022-05-03 15:35] #72 closed

[2022-05-03 15:36] LRufenacht commented on #72
The issue was that one of the scripts was trying to load an insecure resource.

[2022-05-03 15:42] FrankITG commented on #79
I have checked again and I still switching the LayoutStyle in that sample is rather confusing.
Especially when you end up with different layouts switching from
Default - Vertical - Default or
Default - Horizontal - Default
I don´t have any brilliant idea for a better sample though. Maybe just show a Vertical Layout and a Horizontal Layout next to each other without interaction? I know that this wo

[2022-05-03 16:08] LRufenacht commented on #68
Found the issue, updating

[2022-05-03 16:19] paulcordova commented on #68
Last test still fail in Chrome from my side
![image](https://user-images.githubusercontent.com/7750628/166493784-9b666933-753f-49e8-886f-b6a3814eb308.png)

But in FireFox in spanish settings runs OK
![image](https://user-images.githubusercontent.com/7750628/166493848-05e24582-ae09-44a4-841f-22e5dc1b2d8a.png)

[2022-05-03 16:24] paulcordova commented on #72
Still not load for me
Edge Browser

![image](https://user-images.githubusercontent.com/7750628/166494910-12e6ff6c-0d69-4b06-886d-6348dd7ad4c9.png)

[2022-05-03 16:27] lucapivato commented on #72
BTW, all the tests are misaligned.

![](https://user-images.githubusercontent.com/37640802/166495884-ab9663b0-1f0d-43fb-aad6-7e9d23abdc13.png)

[2022-05-03 16:33] LRufenacht commented on #68
Please try again, should be fixed.

The issue was the value of `Application.CurrentCulture.Name` for your Chrome is "es", and their CDN doesn't have a value for that. I've updated all the premium extensions to try to get the full name for the localization (i.e. es-ES or es-CL).

[2022-05-03 16:33] #68 closed

[2022-05-03 16:58] paulcordova commented on #68
Chrome in EN is OK
![image](https://user-images.githubusercontent.com/7750628/166502383-2fd5ac8f-5a2c-43fe-9b08-27f985116142.png)

Chrome in ES still fail :-(
![image](https://user-images.githubusercontent.com/7750628/166502444-6e58a921-4a09-4175-9455-56cb7c93419b.png)

[2022-05-03 17:01] paulcordova commented on #68
In FireFox in ES work Ok

![image](https://user-images.githubusercontent.com/7750628/166502979-a79705ca-9ffd-4c84-ae69-bd028e166072.png)

[2022-05-03 17:03] LRufenacht commented on #72
Can you try clearing your cache @paulcordova I just tried on three different machines and all work okay.
Otherwise, please send the Chrome Console and Network tab.

[2022-05-03 17:29] paulcordova commented on #72
Only the PivotTreeMap dont work, all the others runs Ok

Console
![image](https://user-images.githubusercontent.com/7750628/166506678-dfb78d78-d22f-4e67-805b-df71715d3b09.png)

NetWork
![image](https://user-images.githubusercontent.com/7750628/166506721-a3ba4871-96a4-423e-96e0-63216156e85a.png)

Cant reach this two Js files
https://cdn.syncfusion.com/js/assets/i18n/ej.culture.es-419.min.js
https:/

[2022-05-03 18:44] paulcordova commented on #80
Fixed

![image](https://user-images.githubusercontent.com/7750628/166521356-32d1bc84-68f2-42a0-943f-deb25575d282.png)

[2022-05-03 20:20] keevBush commented on #62
Already fixed

[2022-05-03 20:20] #62 closed

[2022-05-03 20:38] keevBush commented on #75
cannot test becaause : https://github.com/iceteagroup/Wisej-QA/issues/570

[2022-05-03 21:32] paulcordova commented on #70
Tested Ok in Chrome

![image](https://user-images.githubusercontent.com/7750628/166570020-3722c764-c9a0-4f6b-8c15-b6c601e81f43.png)

[2022-05-03 22:29] LRufenacht opened #81 "Upload Drag & Drop files"

[2022-05-03 22:29] LRufenacht opened #82 "Add TextBox AutoComplete"

[2022-05-03 22:29] LRufenacht opened #83 "Add ComboBox AutoComplete"

[2022-05-03 22:30] LRufenacht opened #84 "Disable TextBox CheckBox and Radio Borders"

[2022-05-03 22:31] LRufenacht opened #85 "Add Icons for Toolbar"
All items should have an icon
![image](https://user-images.githubusercontent.com/21205878/166582855-c801e329-aba0-4bd5-86f6-fbeba4008b68.png)

[2022-05-03 22:31] LRufenacht commented on #85
@AlaaTrAce please notify and close when complete

[2022-05-03 22:32] LRufenacht opened #86 "Add ContextMenu Icons and Shortcuts"
All contextmenu items should have icons.

Please add shortcuts to most of the items too.

[2022-05-03 22:32] LRufenacht commented on #86
@AlaaTrAce please notify and close when complete.

[2022-05-03 22:32] LRufenacht opened #87 "Update GoogleMaps License"

[2022-05-03 22:33] #70 closed

[2022-05-03 22:35] LRufenacht opened #88 "Update all ProgressBar items with task"

[2022-05-03 22:35] LRufenacht opened #89 "Remove ListView Selection Mode & add to features"

[2022-05-03 22:35] LRufenacht opened #90 "Update icon to Wisej.NET"

[2022-05-03 22:36] LRufenacht opened #91 "Remove ToolTip AutoPop & set ComboBoxes to DropDownList"

[2022-05-03 22:36] LRufenacht commented on #91
@AlaaTrAce please notify and close when complete.

[2022-05-03 22:36] LRufenacht opened #92 "Set HelpTip ComboBoxes to DropDownList"

[2022-05-03 22:37] LRufenacht commented on #92
@AlaaTrAce please notify and close when complete.

[2022-05-03 22:37] LRufenacht opened #93 "Update Animation Example to show / hide panels with buttons."

[2022-05-04 11:44] AlaaTrAce commented on #55
Updated

[2022-05-04 11:44] #55 closed

[2022-05-04 11:58] AlaaTrAce commented on #91
Updated

[2022-05-04 11:58] #91 closed

[2022-05-04 12:02] AlaaTrAce commented on #92
Updated

[2022-05-04 12:02] #92 closed

[2022-05-04 12:28] AlaaTrAce commented on #85
Updated, also improved the layout a little bit

[2022-05-04 12:28] #85 closed

[2022-05-04 13:44] LRufenacht commented on #63
@keevBush What's the status of this?

[2022-05-04 13:44] LRufenacht commented on #66
@keevBush What's the status of this?

[2022-05-04 13:44] LRufenacht commented on #67
@keevBush What's the status of this?

[2022-05-04 13:44] LRufenacht commented on #69
@keevBush What's the status of this?

[2022-05-04 13:44] LRufenacht commented on #73
@keevBush What's the status of this?

[2022-05-04 13:55] #90 closed

[2022-05-04 14:04] #84 closed

[2022-05-04 14:13] #61 closed, assigned to keevBush

[2022-05-04 14:13] #66 closed

[2022-05-04 14:13] #67 closed

[2022-05-04 14:14] keevBush commented on #63
fixed

[2022-05-04 14:17] #88 closed

[2022-05-04 15:30] LRufenacht commented on #93
https://watch.screencastify.com/v/TVUorRGDuqMtFVnsavH7

[2022-05-04 15:37] #87 closed

[2022-05-04 16:26] LRufenacht commented on #81
https://watch.screencastify.com/v/DZBEXeiMDXOAiugPIP2t

[2022-05-04 16:26] #81 closed

[2022-05-04 22:21] LRufenacht opened #94 "Decrease SplitContainer size."

[2022-05-04 22:23] #94 closed

[2022-05-04 22:23] LRufenacht opened #95 "Complete SplitContainer Sample"

[2022-05-05 16:27] LRufenacht commented on #79
I'm going to assign this one to @lucapivato, since I'm not sure what the best way to represent it would be.

[2022-05-05 16:56] LRufenacht opened #96 "DevExtreme"
dxCalendar
- [ ] Active State Enabled doesn't do anything
- [ ] Focus State Enabled doesn't do anything

dxChart
- [ ] Most of these options don't look like they do anything, can you find different options with visual effects?

dxColorBox
- [ ] Active State Enabled doesn't do anything

dxDataGrid
- [ ] Not sure how Column Hiding works. Can you clarify?

[2022-05-05 17:45] LRufenacht commented on #96
@keevBush Please update and let me know when complete

[2022-05-05 19:12] LRufenacht opened #97 "IgniteUI"
igCategoryChart
- [x] Align Gridlines to Pixels doesn't do anything

igColorPicker
- [x] Get Selected Color size wrong

igDataChart
- [x] Prefill Add New Item values

igDataChartFinancial
- [x] Drag Modifier should be none by default.

igDateEditor
- [x] Button type doesn't do antyhing
- [x] Selection on focus doesn't do anything

igDoughnutChart
- [x] Allow Slice Explosion doesn't work
- [x] Allo

[2022-05-05 20:54] keevBush commented on #96
I can't interact with premium extension

[2022-05-05 21:59] LRufenacht commented on #96
Are you using 3.0.7-dev?

[2022-05-05 22:08] keevBush commented on #96
Yes and Wisej-3 3.0.7-test7

[2022-05-06 16:34] #97 closed

[2022-05-06 17:05] LRufenacht opened #98 "KendoUI"
kendoBreadcrumb
- [x] Remove Navigational
- [x] Add another property?
- [x] Gap doesn't do anything

kendoCalendar
- [x] No options

kendoCaptcha
- [x] Reset button should clear text.

kendoChart
- [x] PDF export doesn't work

kendoChat
- [x] No properties

kendoDatePicker
- [x] More properties?

kendoDateRangePicker
- [x] Margin between controls should be 16px.
- [x] Clicking "Update" throws erro

[2022-05-10 15:47] keevBush commented on #96
@LRufenacht I have added details next to the tasks, should I delete the problematic properties?

[2022-05-10 18:25] LRufenacht commented on #96
@keevBush Yes, thanks!

[2022-05-10 18:49] keevBush commented on #96
Done @LRufenacht

[2022-05-11 22:05] paulcordova opened #99 "DevExtreme - dxChart get blank after apply Update button"
After click Update button with or without change properties, the chart get blank

![image](https://user-images.githubusercontent.com/7750628/167955176-3fabe8b0-2d4b-4fb1-94ad-a005e3037efd.png)

[2022-05-11 22:27] paulcordova opened #100 "DevExtreme - dxDateBox - Styling mode control diferent of property intial value"
the control visual styling is different respect the property initial value
When I change other property, the control also change the styling and a first impression is something its wrong

![image](https://user-images.githubusercontent.com/7750628/167957289-52b5c8fe-6a58-48fc-ae06-c13f7c109363.png)

If at first step I change the "Accept Custom Vale" also change the styling.
2 properties was changed

[2022-05-11 22:35] paulcordova opened #101 "DevExtreme - dxDiagram : Unit and Autozoom changes don't reflect visual changes in control"
Changes in this properties Unit and Auto Zoom don't have visual changes in control
The others ones does it

![image](https://user-images.githubusercontent.com/7750628/167958594-50a0001d-4529-4aa2-a216-107f8fd4028b.png)

[2022-05-11 23:47] FrankITG opened #102 "DevExtreme - Invalid License warning"
Running from demo.wisej.com:
![image](https://user-images.githubusercontent.com/37643082/167965191-ad84b363-1a51-48f2-bf6e-a69153482485.png)

[2022-05-11 23:48] lucapivato commented on #102
Perfect, I saw it but couldn't reproduce anymore. Will attach. Any particular step?

[2022-05-11 23:54] FrankITG commented on #102
Don´t think so, just opening this
https://demo.wisej.com/DevExtreme/#dxBullet

[2022-05-12 02:04] FrankITG opened #103 "DevExtreme - dxHtmlEditor throws an exception"
Happens directly on opening the sample:

![image](https://user-images.githubusercontent.com/37643082/167977352-df1cdead-7774-4d52-908c-28fb7cc9e063.png)

[2022-05-12 02:04] FrankITG opened #104 "DevExtreme - dxColorBox label cut off"
![image](https://user-images.githubusercontent.com/37643082/167977427-fc1d1958-b6bd-482a-b571-d60370f925e1.png)

[2022-05-12 02:06] FrankITG opened #105 "DevExtreme - dxDateBox"
Not sure if this is an issue but when choosing Type time it shows a full DateTime value:

![image](https://user-images.githubusercontent.com/37643082/167977678-28b577ee-e712-4fc2-b9c1-11fc1d3a1aa1.png)

[2022-05-12 02:13] FrankITG commented on #103
Same problem for dfFileManager.

[2022-05-12 02:17] FrankITG opened #106 "DexExtreme - dxGallery"
When clicking next image on the last image it shows a blank image:
![image](https://user-images.githubusercontent.com/37643082/167978802-1980b57b-4e18-44e9-8c24-8f339d081836.png)

[2022-05-12 03:31] paulcordova opened #107 "DevExtreme - Invalid Server License when refresh browser"
Into any test, if I hit F5/refresh button of browser, a message appears "Invalid license server"

![image](https://user-images.githubusercontent.com/7750628/167961739-88abe918-e251-41ab-bf0e-2e688546195a.png)

[2022-05-12 08:13] keevBush commented on #99
Fixed

[2022-05-12 08:16] keevBush commented on #100
Just inverted values in styling mode. Fixed

[2022-05-12 08:19] keevBush commented on #103
Removed SelectedIndex on UserComboBox. Fixed

[2022-05-12 08:25] keevBush commented on #104
It's a problem of size, change to autosize but same. Do you have another solution for the automatic line break and the automatic size?

[2022-05-12 08:26] keevBush commented on #105
Is not an issue, check it modify only time value

[2022-05-12 10:35] AlaaTrAce commented on #104
I recall this being an issue with the font itself, it appears that it's not properly installed on the server.
I think we should update the mixin with the fixes done by Luca for the regular DemoBrowser.
@LRufenacht what do you think?

[2022-05-12 11:03] AlaaTrAce opened #108 "DevExtreme - dxGrid Cell Hint is always shown regardless of if it's enabled or disabled"
To reproduce, enable Column resize and then resize one of the columns to the point that it's not readable and hover the cursor over it.

It should be disabled when cellHintEnabled is set to false, as their documentation says here https://js.devexpress.com/Documentation/ApiReference/UI_Components/dxDataGrid/Configuration/#cellHintEnabled
<img width="1440" alt="Screen Shot 2022-05-12 at 11 58 22 AM"

[2022-05-12 11:27] AlaaTrAce opened #109 "DevExtreme - dxDropDownButton's "Split Button" checkbox needs to be checked to reflect the initial widget's configuration"

[2022-05-12 11:29] AlaaTrAce opened #110 "DevExtreme - dxFileManager throws an error upon loading the demo"
<img width="1440" alt="Screen Shot 2022-05-12 at 12 28 33 PM" src="https://user-images.githubusercontent.com/57464198/168064900-a64c2bea-5e5a-4cdc-a52b-2a6924d7a4a4.png">

[2022-05-12 11:31] AlaaTrAce opened #111 "DevExtreme - dxDiagram isn't resized properly when we collapse the Demos panel"
Default:
<img width="1440" alt="Screen Shot 2022-05-12 at 12 20 30 PM" src="https://user-images.githubusercontent.com/57464198/168065080-a3a01b06-7abc-4087-8548-16dc60df1c77.png">

Collapsed panel:
<img width="1440" alt="Screen Shot 2022-05-12 at 12 20 39 PM" src="https://user-images.githubusercontent.com/57464198/168065161-836b439b-d5c3-4bfa-b688-93480232507b.png">

[2022-05-12 14:06] LRufenacht commented on #109
@keevBush please update when fixed.

[2022-05-12 14:09] LRufenacht commented on #107
[See (please log an issue in QA if needed)](https://github.com/iceteagroup/Wisej-QA/issues/566#issuecomment-1124408560)

[2022-05-12 14:09] #107 closed

[2022-05-12 14:10] LRufenacht commented on #102
https://github.com/iceteagroup/Wisej-QA/issues/566#issuecomment-1124408560 (please log an issue in QA if needed)

[2022-05-12 14:10] #102 closed

[2022-05-12 14:21] LRufenacht commented on #99
@keevBush it still happens for me when I use the latest code from GitHub.

[2022-05-12 14:23] LRufenacht commented on #101
@keevBush please update this thread when fixed.

[2022-05-12 14:24] LRufenacht commented on #100
@keevBush it still doesn't work for me with latest from GitHub.

[2022-05-12 21:53] keevBush commented on #111
Video : https://drive.google.com/file/d/1t5T2HpJ4_MTwGlVvKXa9SYycU17Or9pi/view?usp=sharing

It work but it isn't appear directly like other component. more details in video

[2022-05-12 21:54] keevBush commented on #106
@LRufenacht can you check and help me for this issue ?

[2022-05-12 21:57] keevBush commented on #109
Fixed

[2022-05-12 21:57] #109 closed

[2022-05-12 22:06] keevBush commented on #101
@paulcordova just unit it's for the operating side. AutoZoom works

[2022-05-12 22:07] #99 closed

[2022-05-12 22:09] #100 closed

[2022-05-12 22:10] #103 closed

[2022-05-13 12:05] #105 closed

[2022-05-13 16:55] #108 closed

[2022-05-13 16:55] #111 closed

[2022-05-13 16:55] #110 closed

[2022-05-13 17:05] #106 closed

[2022-05-13 17:08] #101 closed

[2022-05-18 15:56] LRufenacht opened #112 "DevExtreme: Convert all JSON configurations to C# equivalent."
Please convert all JSON configurations to their C# equivalents.

The C# Widget initialization code should be in the `DemoName_Load` handler and should be directly underneath the Demo constructor (see dxBullet for a completed sample).

After conversion, please test all the configuration options on the view to make sure they show a visual change to the widget.

[2022-05-18 19:45] LRufenacht opened #113 "IgniteUI: Convert all JSON configurations to C# equivalent."
Please convert all JSON configurations to their C# equivalents.

The C# Widget initialization code should be in the DemoName_Load handler and should be directly underneath the Demo constructor (see igHierarchicalGrid for a completed sample).

After conversion, please test all the configuration options on the view to make sure they show a visual change to the widget.

[2022-05-20 13:31] LRufenacht commented on #112
@keevBush @AlaaTrAce any progress here?

[2022-05-20 13:31] LRufenacht commented on #113
@keevBush @AlaaTrAce any progress here?

[2022-05-20 18:48] keevBush commented on #112
@LRufenacht I'll push late this night I'm doing more test before push

[2022-05-20 18:52] AlaaTrAce commented on #113
This task is complete :).

[2022-05-20 18:53] AlaaTrAce commented on #112
@keevBush if you want you can push the updates and I'll take a look with you.

[2022-05-20 19:28] LRufenacht opened #114 "KendoUI: Convert all JSON configurations to C# equivalent."
Same thing but for Kendo.

[2022-05-20 23:23] keevBush commented on #112
Done and push 👍🏽

[2022-05-25 23:29] LRufenacht commented on #79
@lucapivato still needs completed

[2022-05-27 19:52] LRufenacht opened #115 "Review demo.wisej.com/demos"
Hi Everyone,

Please take 10 minutes to click around on the demo browser and resize different views, click buttons, and verify everything works & looks good.
The smallest optimized screen for the demo browser is 1440x900. Anything smaller than that is guaranteed scrolling.

We're just waiting on two more demos from @lucapivato (SplitContainer & FlexLayoutPanel).

If something looks weird, needs fi

[2022-05-27 19:56] LRufenacht commented on #112
@AlaaTrAce @keevBush if this issue is fully completed and checked in you can close this issue.

[2022-05-27 19:56] LRufenacht commented on #113
@AlaaTrAce @keevBush if this issue is fully completed and checked in you can close this issue.

[2022-05-27 19:56] LRufenacht commented on #114
@AlaaTrAce if this issue is fully completed and checked in you can close this issue.

[2022-05-30 16:18] #113 closed

[2022-05-30 21:10] AlaaTrAce commented on #114
All is good and tested, found some issues present in both the updated version and the online version we have.
Will create issues and attempt to fix them.

[2022-05-30 21:10] #114 closed

[2022-05-30 21:11] AlaaTrAce commented on #112
@keevBush can we close this or is there something pending?

[2022-05-31 17:08] FrankITG opened #116 "DevExtreme - dxFileManager"
minor possible issue:
Clicking on update (e.g. after just changing the Item View Mode) always fires a currentDirectoryChanged event.
Dunno if this is by design?

[2022-05-31 17:16] FrankITG opened #117 "DevExtreme - Switching Theme fails on dxHtmlEditor"
For example switching to "dark" shows this:
![image](https://user-images.githubusercontent.com/37643082/171234391-6652c5f2-c940-4b11-9c7a-ece228ee9f56.png)
It seems to work in "their" demo.
![image](https://user-images.githubusercontent.com/37643082/171234455-9045bc70-c7b2-486e-847a-790106c55c02.png)

[2022-05-31 20:15] AlaaTrAce opened #118 "KendoUI - KendoAutoComplete's clear button doesn't work and toggling "Suggest" property probably doesn't work either."
Clicking on the clear button on a kendoAutoComplete widget's doesn't do anything.
Also the when fiddeling with the Suggest property, I don't really see any difference in the functionality.
![dUEkvOu4bM](https://user-images.githubusercontent.com/57464198/171276870-e35628c6-1a1f-4750-b897-bc7d7934461f.gif)

[2022-05-31 20:25] AlaaTrAce opened #119 "KendoUI - kendoDateTimePicker, the Min and Max datetimepicker of the demo are inverted."
![BqgQmy0eQR](https://user-images.githubusercontent.com/57464198/171278281-18bae18c-6194-4fcb-ba2a-a4f69d0b21f8.gif)

[2022-06-01 14:05] #98 closed

[2022-06-02 14:45] AlaaTrAce opened #120 "EJ1: Convert all JSON configurations to C# equivalent."

[2022-06-02 14:46] AlaaTrAce opened #121 "EJ2: Convert all JSON configurations to C# equivalent."

[2022-06-02 16:32] AlaaTrAce commented on #120
@keevBush when you have the time, please check the demos that have issues updating.
Since this type of conversion mostly relies on "AnonymousTypes", it could throw some exceptions.
@LRufenacht what do you think about this? I would assume that we have to recreate the "Options" object when updating the properties, since these AnonymousTypes are immutable.

[2022-06-02 16:49] AlaaTrAce opened #122 "Add Accordion demo"

[2022-06-02 17:07] AlaaTrAce opened #123 "Add TagTextBox demo"

[2022-06-02 17:17] keevBush commented on #116
the ui is recreated, refreshed  and must go the same path. I think because of that.

[2022-06-08 14:30] LRufenacht commented on #122
@AlaaTrAce is there an update for this?

[2022-06-08 14:30] LRufenacht commented on #121
@AlaaTrAce is there an update for this?

[2022-06-08 14:35] AlaaTrAce commented on #122
@LRufenacht yes, added the demo but it needs some polish. Should be finished today!

[2022-06-08 14:36] AlaaTrAce commented on #121
40% done, should be finished by today!

[2022-06-10 02:29] #121 closed

[2022-06-16 14:34] AlaaTrAce commented on #123
Updated to include the new AllowDuplicateTags feature and the AutoSize enhancement, and added MinimumSize.
Please re-open if there's something else to fix.

[2022-06-16 14:34] #123 closed, assigned to AlaaTrAce

[2022-06-16 20:06] LRufenacht opened #124 "Syncfusion2 Chart Error when changing properties"
https://demo.wisej.com/Syncfusion2/#Chart

The default Chart Type should be Line too.

![image](https://user-images.githubusercontent.com/21205878/174154968-c0e6e282-6dd9-4fff-81ca-428b4b0f3e27.png)

[2022-06-16 20:08] LRufenacht commented on #124
@AlaaTrAce can you please review & fix all the controls that have this issue? It's because of the C# conversions. All controls should need to be tested and confirmed to work before committing.

[2022-06-16 20:09] LRufenacht opened #125 "Add properties for EJ2 Diagram"

[2022-06-17 20:19] #124 closed

[2022-06-17 20:19] #119 closed

[2022-06-17 20:24] LRufenacht commented on #118
A kendo-side bug. Now I just recreate the widget if that property gets changed.

[2022-06-17 20:24] #118 closed

[2022-06-17 21:28] LRufenacht commented on #116
Fixed and checked in.

Now it checks to see if the fileSystemProvider property actually changes before feeding it to their Widget.option({}) configuration updater.

It's really a "them" issue but should work for us now.

[2022-06-17 21:28] #116 closed

[2022-06-17 21:49] #95 closed

[2022-06-17 21:49] #104 closed

[2022-06-17 21:49] LRufenacht opened #126 "Fix EJ2 Spreadsheet sample"
very buggy...

[2022-08-21 18:22] keevBush commented on #126
Can I have more details please, small video. Just testing and work normally.
Small delay for load file but It load correctly

[2022-08-22 05:37] keevBush opened #127 "Demobrowser completely unusable on phone (Landscape priority)"
Results after checking on phone

![Screenshot_2022-08-22-07-33-34-40_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/36192217/185846783-6a10974a-9be8-43cb-adf3-978ecc0f5604.jpg)
![Screenshot_2022-08-22-07-33-28-52_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/36192217/185846790-7392555e-b84b-4335-a658-66e806bfa43a.jpg)
![Screenshot_2022-08-

[2022-08-22 05:38] keevBush commented on #127
Same on chrome

[2022-08-23 16:01] #125 closed

[2022-08-23 16:04] LRufenacht commented on #127
Yep, app is not optimized for phone yet. Not sure if we will.

[2022-08-23 16:16] #115 closed

[2022-08-23 16:16] #112 closed

[2022-08-23 16:28] LRufenacht commented on #79
@lucapivato still needs completed

[2022-08-23 16:28] LRufenacht commented on #75
@keevBush ok now?

[2022-08-23 16:31] LRufenacht commented on #126
I already fixed this one.

[2022-08-23 16:31] #126 closed

[2022-08-23 20:58] keevBush commented on #127
Autoscroll can help?